doctype html

html



	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/console.css')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/typed.js')
		script(src='/javascripts/console.js')



	body
		div(class="head" height="10")
			p MOSTAPHA RAMMO ~ new? ask for 'help'
		span.typed



