
doctype html

html



	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/typed.js')
		script(src='/javascripts/app.js')



	body
		p MOSTAPHA RAMMO DOT COM <br> ---------------------- <br> new? try 'help'
		span.typed



