doctype html

html



	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(src='/javascripts/jquery.js')
		script(src='/javascripts/app.js')



	body
		iframe(src="/console" width="550" height="500" id="consoleFrame")
		div.bar
		div.title
			h1 Mostapha Rammo
			h4 Welcome!



